* {
    padding: 0;
    margin: 0;
}

body {
    margin-top: 20px;
    background-color: #fff;
    color: #000;
}


header {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    text-align: center;
}

header p {
    margin-top: 5px;
    font-weight: normal;
}

hr {
    border: #000 solid 1px;
}

.article {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    font-size: 110%;
}

.article p {
    color: #000;
}

footer {
    text-align: center;
    margin-top: 30px;
    padding: 20px;
    background-color: #cecece;
    line-height: 25px;
}

footer a {
    text-decoration: none;
    color: #000;
}